<div class="tabs-content">
     <% @digests.each_index do |i| %>

      <% active = (i == @active_digest_index ) %>
      <% active_class= (active ? 'active' : '') %>

      <% digest = @digests[i] %>

      <div class="content <%= active_class %>" id="panel<%= i %>">
        <% if active %>

            <% if content_for?(:digest_pane) %>
                <%= yield(:digest_pane) %>
            <% else %>
                <%= render(@digest_view_template) %>
            <% end %>

        <% else %>
            <p>Please wait a moment...</p>
        <% end %>
      </div>

  <% end %>
</div>