<div class="tabs-content">
     <% @digests.each_index do |i| %>

      <% active = (i == @active_digest_index ) %>
      <% active_class= (active ? 'active' : '') %>

      <% digest = @digests[i] %>

      <div class="content <%= active_class %>" id="panel<%= i %>">
        <% if active %>
            <div id="active_digest_title"><%= @active_digest_title %> </div>
            <div id="active_digest_pane" class="handsontable"></div>
            <%= yield :active_digest_footer %>
        <% else %>
            <p>Please wait a moment...</p>
        <% end %>
      </div>

  <% end %>
</div>