<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>foundation-rails</title>

  <link href="/assets/application.css?body=1" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/foundation_and_overrides.css?body=1" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/people.css?body=1" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/scaffolds.css?body=1" media="screen" rel="stylesheet" type="text/css" />
  <script src="/assets/vendor/modernizr.js?body=1" type="text/javascript"></script>
  <script data-turbolinks-track="true" src="/assets/jquery.js?body=1" type="text/javascript"></script>
  <script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1" type="text/javascript"></script>
  <script data-turbolinks-track="true" src="/assets/foundation/foundation.js?body=1" type="text/javascript"></script>
  <script data-turbolinks-track="true" src="/assets/foundation/foundation.abide.js?body=1" type="text/javascript"></script>
  <script data-turbolinks-track="true" src="/assets/foundation/foundation.accordion.js?body=1" type="text/javascript"></script>
  <script data-turbolinks-track="true" src="/assets/foundation/foundation.alert.js?body=1" type="text/javascript"></script>
  <script data-turbolinks-track="true" src="/assets/foundation/foundation.clearing.js?body=1" type="text/javascript"></script>
  <script data-turbolinks-track="true" src="/assets/foundation/foundation.dropdown.js?body=1" type="text/javascript"></script>
  <script data-turbolinks-track="true" src="/assets/foundation/foundation.interchange.js?body=1" type="text/javascript"></script>
  <script data-turbolinks-track="true" src="/assets/foundation/foundation.joyride.js?body=1" type="text/javascript"></script>
  <script data-turbolinks-track="true" src="/assets/foundation/foundation.magellan.js?body=1" type="text/javascript"></script>
  <script data-turbolinks-track="true" src="/assets/foundation/foundation.offcanvas.js?body=1" type="text/javascript"></script>
  <script data-turbolinks-track="true" src="/assets/foundation/foundation.orbit.js?body=1" type="text/javascript"></script>
  <script data-turbolinks-track="true" src="/assets/foundation/foundation.reveal.js?body=1" type="text/javascript"></script>
  <script data-turbolinks-track="true" src="/assets/foundation/foundation.slider.js?body=1" type="text/javascript"></script>
  <script data-turbolinks-track="true" src="/assets/foundation/foundation.tab.js?body=1" type="text/javascript"></script>
  <script data-turbolinks-track="true" src="/assets/foundation/foundation.tooltip.js?body=1" type="text/javascript"></script>
  <script data-turbolinks-track="true" src="/assets/foundation/foundation.topbar.js?body=1" type="text/javascript"></script>
  <script data-turbolinks-track="true" src="/assets/foundation/foundation.equalizer.js?body=1" type="text/javascript"></script>
  <script data-turbolinks-track="true" src="/assets/foundation.js?body=1" type="text/javascript"></script>
  <script data-turbolinks-track="true" src="/assets/people.js?body=1" type="text/javascript"></script>
  <script data-turbolinks-track="true" src="/assets/application.js?body=1" type="text/javascript"></script>
  <meta content="authenticity_token" name="csrf-param" />
  <meta content="33tb440nNid6FsAjm5LO+x0Kof7P8Rz/mFj6pShiiRY=" name="csrf-token" />
</head>

<body>

<h1>Listing people</h1>

<table>
  <tr>
    <th>G</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tr>
    <td></td>
    <td>Wash dishes</td>
    <td><a href="/people/1">Show</a></td>
    <td><a href="/people/1/edit">Edit</a></td>
    <td><a href="/people/1" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Destroy</a></td>
  </tr>
  <tr>
    <td></td>
    <td>Wash dishes</td>
    <td><a href="/people/2">Show</a></td>
    <td><a href="/people/2/edit">Edit</a></td>
    <td><a href="/people/2" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Destroy</a></td>
  </tr>
  <tr>
    <td></td>
    <td>Visit dentist on Monday</td>
    <td><a href="/people/3">Show</a></td>
    <td><a href="/people/3/edit">Edit</a></td>
    <td><a href="/people/3" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Destroy</a></td>
  </tr>
  <tr>
    <td></td>
    <td>Call bank about transfer</td>
    <td><a href="/people/4">Show</a></td>
    <td><a href="/people/4/edit">Edit</a></td>
    <td><a href="/people/4" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Destroy</a></td>
  </tr>
  <tr>
    <td></td>
    <td>Watch football</td>
    <td><a href="/people/5">Show</a></td>
    <td><a href="/people/5/edit">Edit</a></td>
    <td><a href="/people/5" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Destroy</a></td>
  </tr>
  <tr>
    <td></td>
    <td>Register for new Tealeaf course</td>
    <td><a href="/people/6">Show</a></td>
    <td><a href="/people/6/edit">Edit</a></td>
    <td><a href="/people/6" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Destroy</a></td>
  </tr>
</table>

<br />

<a href="/people/new">New Person</a>


</body>
</html>